{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' >
  </head>
  <body>
    {% comment %} <header role="banner"> {% endcomment %}
    {% comment %} <img id="logo-main" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png" width="200" alt="Logo Thing main logo"> {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" height="40vh" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'gallery'%}">Related Classics</a>
            <div class="navbar-header">
             <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
             >
            <span class="icon-bar"></span>
            </button>
            </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{%url 'gallery'%}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"> Categories </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {%for category in categories%}
                    <li>
                      <a
                        class="dropdown-item"
                        href="{%url 'view_category' category%}">{{category}}</a>
                    </li>
                    {%endfor%}
                 </ul>
               </li>
               <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Locations
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {%for location in locations%}
                  <li>
                    <a
                      class="dropdown-item"
                      href="{%url 'view_location' location%}"
                      >{{location}}
                    </a>
                  </li>
                  {%endfor%}
                </ul>
              </li>
            </ul>
        <form
            role="search"
            action="{% url 'search_images' %}"
            class="d-flex navbar-form">
            <input
            type="search"
            class="form-control me-2"
            placeholder="Search Images"
            name="image"/>
            <button class="btn btn-outline-success" type="submit">
            Search
            </button>
        </form>
        </div>
    </nav>
    {% comment %} </header> {% endcomment %}
  </body>
  </html>